rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'serba6262@gmail.com' ||
        request.auth.token.email == 'admin@olumajang.com'
      );
    }

    // Warung Logo
    match /warungs/{warungId}/logo/{fileName} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }

    // Warung Photo Menu (Max 60 foto)
    match /warungs/{warungId}/photos/{fileName} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 10 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }

    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
